
{% macro storyline(parent, id, message) %}
  {% if message==None %}
    <form action='{{ url_for("add_child_message") }}' method=post class=add-entry>
      <dl>
        <input type= hidden name=parent value={{parent}}>      
        <input type= hidden name=id value={{id}}>
        <dd><textarea name=message rows=5 cols=40></textarea></dd>
        <dd><input type=submit  value=SUBMIT></dd>
      </dl>
    </form>
  {% else %}
    <a href='change/{{id}}'>{{message}}</a> 
  {% endif %}
{% endmacro %}
