{% extends "layout.html" %}
{% from 'macros.html' import storyline %}

{% block body %}
  <table>
    <tr>
      <td></td>
      <td>
        {{ storyline(0, kids[0]['id'] , kids[0]['message']) }}
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        {{ storyline(0, kids[1]['id'], kids[1]['message']) }}
      </td>
      <td>{{ parent['message'] }}</td>
      <td>
        {{ storyline(0, kids[2]['id'], kids[2]['message']) }}
      </td>
    </tr>    
    <tr>
      <td></td>
      <td>
        {{ storyline(0, kids[3]['id'], kids[3]['message']) }}
      </td>
      <td></td>
    </tr>
  </table>
{% endblock %}
