{% extends "layout.html" %}
{% from 'macros.html' import storyline %}

{% block body %}
  <!-- {% if session.logged_in %} -->
  <table>
    <tr>
      <td></td>
      <td>
        {{ storyline(0, storylist[0]['id'] , storylist[0]['message']) }}
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        {{ storyline(0,storylist[1]['id'], storylist[1]['message']) }}
      </td>
      <td>BIG STORY HERE</td>
      <td>
        {{ storyline(0,storylist[2]['id'], storylist[2]['message']) }}
      </td>
    </tr>    
    <tr>
      <td></td>
      <td>
        {{ storyline(0,storylist[3]['id'], storylist[3]['message']) }}
      </td>
      <td></td>
    </tr>
  </table>
    <!--{% endif %}
{% endblock %}