{% extends "layout.html" %}
{% from 'macros.html' import storyline %}

{% block body %}
  <!-- {% if session.logged_in %} -->
  <table>
    <tr>
      <td></td>
      <td>
        {{ storyline(0,1) }}
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        {{ storyline(0,1) }}
      </td>
      <td>BIG STORY HERE</td>
      <td>
        {{ storyline(0,3) }}
      </td>
    </tr>    
    <tr>
      <td></td>
      <td>
        {{ storyline(0,4) }}
      </td>
      <td></td>
    </tr>
  </table>
    <!--{% endif %}
{% endblock %}